@import "../Themes/variables";
@import "../Themes/mixins";

.footer {
  background-color: black;
  .container {
    .row {
      .col {
        .footer-logo {
          .footer-text {
            color: #fff;
            font-size: 30px;
            font-weight: 600;
            &:hover {
              color: #ff6600;
            }
          }
        }
        p {
          font-size: 17px;
          line-height: 26px;
          color: #a5a2a1;
        }
        .icon {
          i {
            color: #ff6600;
            background-color: #fff;
            padding: 10px 10px;
            border-radius: 5px;
            margin-right: 10px;
            font-size: 15px;
            font-weight: 700;
            &:hover {
              color: #fff;
              background-color: #ff6600;
              transition: all ease 0.5s;
            }
          }
          @include mobile-sm {
            text-align: center;
          }
        }
        .footer-title {
          font-size: 22px;
          line-height: 28px;
          margin-bottom: 30px;
          font-weight: 700;
          color: #fff;
          font-family: "Quicksand", sans-serif;
        }
        ul {
          list-style-type: none;
          margin: 0;
          padding: 0;
          li {
            a {
              font-size: 17px;
              line-height: 35px;
              color: #a5a2a1;
              text-decoration: none;
              &:hover {
                color: #ff6600;
              }
            }
          }
        }
        .form {
          input {
            width: 100%;
            height: 100%;
            display: inline;
            padding: 14px 20px;
            font-size: 18px;
            line-height: 28px;
            border: 1px solid transparent;
            border-radius: 8px;
            outline: none;
          }
          .btn {
            width: 100%;
            height: 100%;
            background-color: #ff6600;
            display: inline;
            padding: 12px 20px;
            font-size: 18px;
            line-height: 28px;
            border: 1px solid transparent;
            border-radius: 8px;
            outline: none;
            &:hover {
              opacity: 0.8;
              transition: all ease-in 0.5s;
            }
          }
        }
      }
      @include mobile-sm {
        text-align: center;
        display: block;
      }
      @include tablet-md {
        text-align: center;
      }
    }
    .footer-bottom {
      margin-top: 70px;
      display: flex;
      p {
        color: #ddd;
        a {
          color: #ff6600;
          text-decoration: none;
          &:hover {
            color: #fff;
          }
        }
      }
      .link {
        display: flex;
        justify-content: space-between;
        a {
          font-size: 17px;
          line-height: 26px;
          color: #a5a2a1;
          &:hover {
            color: #ff6600;
            text-decoration: none;
          }
        }
      }
      @include tablet-md {
        text-align: center;
      }
      @include mobile-sm {
        display: block;
        text-align: center;
      }
    }
  }
}
.video-footer {
    display: block;
    .history-info {
      background: url(../image/background-video.png) no-repeat center;
      background-size: cover;
      position: relative;
      z-index: 1;
      border-radius: 5px;
      align-items: center;
      min-height: 500px;
      @include tablet-md {
        min-height: 500px;
      }
      @include mobile-sm {
        min-height: 250px;
      }
    }
    .overlay {
      content: "";
      background: #100f1399;
      position: absolute;
      top: 0;
      min-height: 100%;
      left: 0;
      right: 0;
      z-index: -1;
      border-radius: 8px;
    }
    .video-content {
      span {
        i {
          display: inline-block;
          width: 80px;
          height: 80px;
          font-size: 26px;
          padding-left: 2px;
          text-align: center;
          line-height: 76px;
          border-radius: 50%;
          transition: 0.3s ease-in-out;
          -webkit-animation: ripple 1s linear infinite;
          animation: ripple 1s linear infinite;
          color: #ff6600;
          border: transparent;
          background: #fff;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }
  }


