// Logo
$logoColor: #ffffff;
$logoFontWeight: 700;
$logoFontSize: 36px;

// Font
$fontColor: #ff6600;
$fontGrey: #c2d0da;

//background
$backgroundColor: #232220;
$backgroundGrey: #282828;

//Header
$headerColor: #eee;

//border
$borderColorLight: rgba(255, 255, 255, 0.1);
$borderRadius:5px;
